.App {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.panel-bg {
  width: 1400px;
  height: 95px;
  background-color: #ffffff;
}

.ul{
  padding-top: .5em;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.main-nav{
box-shadow: 0 4px 30px rgba(211, 211, 211, 0.88);
}

.book-detail{
  border-bottom: 1px solid #09d3ac;
}

.w-90{
  width: 90%;
}

.book-input{
  width: 60%;
}
.book-select{
  width: 25%;
  height: 2.8em;
}